@font-face {
  font-family: 'GTWalsheim';
  src: url('fonts/GT-Walsheim-Regular-Trial.woff2') format('woff2');
}

body {
    background-color: #A6B1E1;
    margin: 0;
    overflow-x: hidden;
    font-family: GTWalsheim;
    color: #25316D;
}

h1, h2, h3, h4, h5, h6 {
    color: #DCD6F7;
}

#intro {
    width: 60%;
    margin: 2em;
}

#inst {
    font-weight: lighter;
    font-size: 1.2vw;
    color: #DCD6F7;
}


#explorations {
    padding: 5%;
    position: fixed;
    height: 100%;
    width: 5%;
}

.exploration {
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    border: none;
}

#details-panel {
    position:     absolute;
    transition:   0.2s;
    min-height:   100%;
    width:        50%;
    left:         98%;
    background-color: #A6B1E1;
    opacity:      90%;
    box-shadow:   0 0 30px grey;
}

#details-panel #close-button {
    position:      fixed;
    display:       none;
    top:           50%;
    margin-left:   -25px;
    padding:       10px;
    /* border:        1px solid #A6B1E1; */
    border: 1px solid #DCD6F7;
    border-radius: 50%;
    width:         40px;
    height:        40px;
    text-align:    center;
    /* background-color: lightblue; */
    background-color: #A6B1E1;
}

#detail-content {
    overflow-x:  hidden;
    width:       90%;
    margin-left: 5%;

}

#detail-content #favorite-function p::before {
    content: "👍 ";
    filter: grayscale(100%);
    filter: contrast(0);
    filter: brightness(0);
}

#detail-content #favorite-function {
    float: left;
    width: 48%;
}

#detail-content #hated-function p::before {
    content: "👎 ";
    filter: grayscale(100%);
    filter: contrast(0);
    filter: brightness(0);
}

#detail-content #hated-function {
    float: right;
    width: 48%;
}

#detail-content #screenshot img {
    width: 100%;
}

#detail-content #essay {
    text-align: justify;
}

#detail-content #code {
    font-family: fixed;
    background-color: inherit;
}
